{% extends "chatapp/base.html" %}

{% block title %}
    Edit Profile
{% endblock %}

{% block body_content %}
    <h1>Edit Profile</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="edit-profile-picture">
            Profile picture:<br>
            {% if profile.profile_picture %}
                <img id="profile-image" src="{{ profile.profile_picture.url }}" alt="Profile Picture">
            {% endif %}
            <br>
            <input type="file" id="profile_picture" name="profile_picture">
        </div>
        <br>
        <div id="edit-email">
            Email address: <br>
            <input type="email" id="email" name="email" value="{{ profile.email }}">
        </div>
        <br>
        <div id="edit-bio">
            Bio: <br>
            <textarea id="bio" name="bio">{{ profile.bio }}</textarea>
        </div>
        <br>
        <div id="edit-save-button">
            <button type="submit">Save Changes</button>
        </div>
    </form>
{% endblock %}
